@{
    ViewData["Title"] = "About";

}
<body>
    <div class="container row">
        <i class="fas fa-magic mr-3 text-info ali" style="font-size:36px"></i>
        <h2 class="text-info col-sm-8">About Stash Mash</h2>
        <p>
            Years of using (and losing) hand-written lists of yarn requirements, spreadsheet inventories,
            and adding a fourth bedroom to house a yarn stash led to Stash Mash.  You caught us, the
            bedroom addition was a wee bit of an exageration, but you understand what we mean.  Our
            combined experiences led us to trying to find a solution to our common problem.<br /><br />

            We created three inventory logs, one each for yarn, patterns, and needles - the three primary
            components of every knitting project.  These searchable inventories were great, but we
            found we still spend quite a bit of time manually cross-referencing our inventories before
            we could begin our next great projects.  That led to a lengthy "what-if" session during
            which we envisioned a Samantha Stevens process to match yarn and needles to patterns.
            Voila!  Stash Mash was born.<br /><br />

            Stash Mash's search functionality combs through all three inventory files to match yarn
            and needle requirements to selected patterns.  It also will find patterns that match
            a selected yarn.  If you're like us, you can never have too much yarn, you can search
            through patterns while you're shopping your next yarn finds.  That way you'll be sure
            to purchase enough of the same dye lot, and not too much - unless it's by design.
        </p>
    </div>
</body>