@{
    ViewData["Title"] = "Contact";
}
<body>
    <div class="container">
        <h2 class="page-title text-info">Contact Us</h2>
        <h5>No, really!  We love hearing from fellow fiber enthusiasts.</h5><br />

        <address>
            123 Any Street<br />
            Traverse City, MI  49684<br />
            Phone:  231.947.5555<br /><br />
            <strong>Email us: </strong><a href="mailto:info@stashmash.com">info@stashmash.com</a><br />
        </address>
    </div>
</body>