@{
    ViewData["Title"] = "Home Page";
}

<body>
    <header class="jumbotron bg-dark row">
        <h1 class="text-info">Welcome to Stash Mash</h1>
        <img src="~/images/yarnbowl.png" alt="cartoon basket of yarn with needles" class="float-right rounded-circle img-fluid col-sm-4" />        
    </header>
    <div class="home">
        <p>
            <img src="~/images/projectstash.jpg" width="450" height="300" alt="group of knitted projects" class="imgproj float-left rounded img-fluid" />
            When was the last time you were at the yarn shop and found the perfect pattern that would match the
            lovely yarn you've been holding onto for a while, only to realize you couldn't remember how much of
            the yarn you had?  What about finding the newest colorway in a favorite yarn that would absolutely
            be perfect for a pattern at home, but you couldn't remember the yarn's weight or the yardage 
            requirements?  Let's not forget our ever-growing stashes, yarn and patterns just waiting for our
            attention.  We've all been there, more than once.  We feel your frustration.  That's why we
            created Stash Mash. <br /><br />
            Stash Mash allows you to create inventories of your yarn, your patterns, and your needles.  Once
            you've added these items to the inventories, simply use the search application to match yarn and
            needles to patterns, or, as we like to say, mash your stashes!
        </p>
    </div>
</body>
